<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SauceDemo Suite" parallel="false">
    <test name="Checkout Flow">
        <classes>
            <class name="com.subhash.tests.SauceDemoPurchaseTest"/>
            <class name="com.subhash.tests.LoginNegativeTest"/>
        </classes>
    </test>
</suite>

